* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: 500ms;
}

body {
    main {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: fit-content;
        margin-left: 200px;
        z-index: 1;
        background-color: rgb(194, 192, 192);

        section {
            display: flex;
            margin: auto;
            justify-content: center;
            margin-top: 100px;

            div.first-content {
                background-color: rgb(194, 192, 192);
                height: 400px;
                width: 400px;

                h1,
                p {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    margin: 20px;
                }
            }

            div.login {
                background-color: white;

                input {
                    margin: 20px;
                    width: 400px;
                    outline: none;
                    border-style: none;
                    border-bottom: 1px solid gray;
                    font-size: 20px;
                }

                p {
                    margin: 20px;

                    a {
                        color: black;
                        text-decoration: none;
                    }
                }

                button {
                    border-style: none;
                    color: black;
                    background-color: Policy;
                    padding: 10px 60px;
                    margin-left: 20px;
                    font-size: 20px;
                    cursor: pointer;
                    border-radius: 10px;

                }

                button:hover {
                    transform: scale(1.05);
                }

                h2 {
                    margin-top: 90px;
                    margin-left: 20px;

                    a {
                        text-decoration: none;
                        color: black;

                    }
                }
            }
        }
    }
}